@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Dark purple : #132277 - primary
Light Purple : #5066DC - secondary
Light Gray : #F0F5FA - light background
Green Progress: #28C064 - accent
#3A7DF4 - blue pie chart
text gray: #9CA3AB
 */

@layer base {
  :root {
    --background: 210 33% 97%;
    --foreground: 240 4% 46%; /* Updated text gray */
    --card: 210 33% 97%;
    --card-foreground: 240 4% 46%; /* Updated text gray */
    --popover: 210 33% 97%;
    --popover-foreground: 240 4% 46%; /* Updated text gray */
    --primary: 221 82% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 66% 58%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 144 66% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 0 0% 24%;
    --chart-1: 220 90% 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 24%;
    --foreground: 0 0% 100%;
    --card: 0 0% 24%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 24%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
    --chart-1: 220 90% 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}